module.exports = {
    app: {
        repository: '/Users/omer/Downloads',
        port: 8080,
        db: '/Users/omer/Downloads/torrent-manager.db'
    },
    transmission: {
        host: '127.0.0.1',
        port: 9091
    }
};