module.exports = {
    app: {
        repository: '/Users/omer/Downloads',
        port: 8080,
        username: "test",
        password: "test"
    },
    transmission: {
        host: '127.0.0.1',
        port: 9091,
        username: "test",
        password: "test"
    }
};